@import "src/theme/style/systemDefault";

.row-container {
  width: 700px;
  height: 100px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.08);
  margin-bottom: 20px;
}

.row {
  color: white;
  height: 100%;

  & > .col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: $primary-color-5;

    &:nth-child(2n + 1) {
      background-color: $primary-color-6;
    }
  }
}
