$ui-prefix: sd;

$white: #fff;
$black: #000;

$text-color: rgba($black, 85%);
$font-variant-base: tabular-nums;
$line-height-base: 1.5715;
$font-feature-settings-base: 'tnum';


// 主字号
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: 12px;
