@import "systemDefault";

$ui-prefix: 'sd';

// 常用色
$white: #fff;
$black: #000;
$gray: rgba($black, 0.25);
$gray-icon: rgba($black, 0.25);

// 字体大小
$small-font-size: 12px;
$base-font-size: 14px;
$large-font-size: 16px;

// 字体颜色
$font-color: rgba($black, 0.88);
$font-color-secondary: rgba(0, 0, 0, 0.65);
$font-color-tertiary: rgba(0, 0, 0, 0.45);
$font-color-quaternary: rgba(0, 0, 0, 0.25);

// 边框颜色
$border-color: #d9d9d9;

// 边框圆角
$small-border-radius: 4px;
$base-border-radius: 6px;
$large-border-radius: 8px;

// 分隔线颜色
$color-split: rgba(5, 5, 5, 0.06);

// 禁用状态颜色
$disabled-color: rgba($black, 0.25);
$disabled-background-color: rgba($black, 0.04);

// tag颜色
$tag-color: rgba(0, 0, 0, 0.06);

// padding设置
$padding-xxs: 4px;
$padding-xs: 8px;
$padding-sm: 12px;
$padding: 16px;
$padding-md: 20px;
$padding-lg: 24px;
$padding-xl: 32px;

// box-shadow
$box-shadow: 0 6px 16px 0 rgba($black, 0.08), 0 3px 6px -4px rgba($black, 0.12), 0 9px 28px 8px rgba($black, 0.05);

// size
$control-interactive-size: 16px;
