// 所有颜色非dark模式下6号色和base色相同，但是base是rgb的3个变量，不能单独使用，需要配合rgba使用，其他号色是16进制的，可以单独使用

// 全局主色
$primary-color-base: var(--primary-color-base);
$primary-color-1: var(--primary-color-1);
$primary-color-2: var(--primary-color-2);
$primary-color-3: var(--primary-color-3);
$primary-color-4: var(--primary-color-4);
$primary-color-5: var(--primary-color-5);
$primary-color-6: var(--primary-color-6);
$primary-color-7: var(--primary-color-7);
$primary-color-8: var(--primary-color-8);
$primary-color-9: var(--primary-color-9);
$primary-color-10: var(--primary-color-10);

// 链接色
$link-color-base: var(--link-color-base);
$link-color-1: var(--link-color-1);
$link-color-2: var(--link-color-2);
$link-color-3: var(--link-color-3);
$link-color-4: var(--link-color-4);
$link-color-5: var(--link-color-5);
$link-color-6: var(--link-color-6);
$link-color-7: var(--link-color-7);
$link-color-8: var(--link-color-8);
$link-color-9: var(--link-color-9);
$link-color-10: var(--link-color-10);

// 成功色
$success-color-base: var(--success-color-base);
$success-color-1: var(--success-color-1);
$success-color-2: var(--success-color-2);
$success-color-3: var(--success-color-3);
$success-color-4: var(--success-color-4);
$success-color-5: var(--success-color-5);
$success-color-6: var(--success-color-6);
$success-color-7: var(--success-color-7);
$success-color-8: var(--success-color-8);
$success-color-9: var(--success-color-9);
$success-color-10: var(--success-color-10);

// 警告色
$warning-color-base: var(--warning-color-base);
$warning-color-1: var(--warning-color-1);
$warning-color-2: var(--warning-color-2);
$warning-color-3: var(--warning-color-3);
$warning-color-4: var(--warning-color-4);
$warning-color-5: var(--warning-color-5);
$warning-color-6: var(--warning-color-6);
$warning-color-7: var(--warning-color-7);
$warning-color-8: var(--warning-color-8);
$warning-color-9: var(--warning-color-9);
$warning-color-10: var(--warning-color-10);

// 错误色
$error-color-base: var(--error-color-base);
$error-color-1: var(--error-color-1);
$error-color-2: var(--error-color-2);
$error-color-3: var(--error-color-3);
$error-color-4: var(--error-color-4);
$error-color-5: var(--error-color-5);
$error-color-6: var(--error-color-6);
$error-color-7: var(--error-color-7);
$error-color-8: var(--error-color-8);
$error-color-9: var(--error-color-9);
$error-color-10: var(--error-color-10);

// 主题模式
$mode: var(--mode);

// zIndex
$triggerZIndex: 1002;
