@import "src/theme";
@import "affix";

.#{$ui-prefix}-input-clear-icon {
  margin: 0;
  color: $disabled-color;
  font-size: $font-size-sm;
  vertical-align: -1px;
  // https://github.com/ant-design/ant-design/pull/18151
  // https://codesandbox.io/s/wizardly-sun-u10br
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $text-color-secondary;
  }

  &:active {
    color: $text-color;
  }

  &-hidden {
    visibility: hidden;
  }

  &-has-suffix {
    margin: 0 $input-affix-margin;
  }

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}
