@import "variables";

$password-prefix-cls: #{$input-prefix-cls}-password;

.#{$password-prefix-cls}-suffix {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $gray-icon;
  cursor: pointer;
  transition: all 0.3s;
}
