@import "variables";

.#{$input-prefix-cls}-password-suffix {
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.3s;
}
