@import "variables";
@import "input";

$textarea-prefix-cls: #{$input-prefix-cls}-textarea;

@mixin affixTextareaGlobal() {
  padding-inline-end: 24px;
}

.#{$input-prefix-cls}-disabled {
  resize: none !important;
}

.#{$textarea-prefix-cls} {
  transition: resize 0s;

  resize: vertical;

  &-autosize {
    resize: none;
  }
}

.#{$input-prefix-cls}-affix-wrapper-textarea {
  padding: 0;

  .#{$textarea-prefix-cls} {
    padding: 4px 11px;
    font-size: $base-font-size;
    border-radius: $base-border-radius;
    line-height: 22px;
    min-height: 32px;
    border: none;
    transition: resize 0s;
    @include affixTextareaGlobal;
    
    &[rows] {
      resize: none;
    }
  }

  .#{$input-prefix-cls} {
    &-sm {
      padding: 0 7px;
      @include affixTextareaGlobal;
    }

    &-lg {
      padding: 7px 11px;
      font-size: $large-font-size;
      line-height: 24px;
      min-height: 38px;
      @include affixTextareaGlobal;
    }
  }

  .#{$input-prefix-cls}-suffix:not(:empty) {
    position: relative;
    margin-inline-start: 0;

    .#{$input-prefix-cls}-clear-icon {
      position: absolute;
      inset-inline-end: 8px;
      inset-block-start: 8px;
    }
  }

  .#{$input-prefix-cls}-show-count-suffix {
    position: absolute;
    bottom: -22px;
    inset-inline-end: 0;
    white-space: nowrap;
    pointer-events: none;
    color: $gray;
    font-size: $base-font-size;
  }
}
